:root{
    --color-blue: #c3e3f8;
    --color-red: #FF2E17;
}


body{
    font-family: 'Effra Trial', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.dropdown-toggle::after{
    display: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.fs-section-title{
    font-size: clamp(1.375rem, 1.15rem + 1.125vw, 2.5rem);
}
.fs-paragraph{
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
}
.fs-paragraph-2{
    font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
}
.fs-span{
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
}
.fs-button{
    font-size: 40px;
}
.text-red{
    color: var(--color-red)
}
.bg-red{
    background: var(--color-red);
}

.w-fit-content{
    width: fit-content;
}
.modal-link{
    font-size: 16px;
    background: none;
    border: none;
    color: var(--color-red);
    text-decoration: underline;
    font-weight: 600;
    padding-left: 0;

}
.slick-dots{
    bottom: -40px;
}
.slick-dots li button:before{
    font-size: 16px;
}
.icon-img{
    width: 100px;
    height: 100px;
}
.medicine-img-h{
    height: 216px;
}
.w-lg-80{
    width: 80%;
}
.accordion-button:not(.collapsed) {
	background-color: unset;
	background: var(--color-red);
	color: white;
}

.accordion-button:focus {
	box-shadow: none;
}

.accordion-collapse.collapse.show {
	box-shadow: -1px 3px 12px 6px rgba(0, 0, 0, 0.25);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.accordion-item {
	border: none;
	border-radius: 20px;
}

.accordion-button.collapsed {
	background: var(--color-blue);
    color: white;
	border-radius: 20px;
}

.accordion-item:first-of-type>.accordion-header .accordion-button,
.accordion-item .accordion-header .accordion-button {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.accordion-button:not(.collapsed)::after {
	filter: contrast(0%) brightness(2);
}
.accordion-button::after {
	filter: contrast(0%) brightness(2);
}
.map{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.border-dotted {
    border-bottom: 1px dotted #999 !important;
    height: 1em;
}
.border-blue{
    border: 1px solid var(--color-blue);
}
.btn-blue{
    color: white;
    background: var(--color-blue);
    border-radius: 16px;
    width: fit-content;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1200px;
    }
}
@media(max-width: 768px){
    .logo{
        width: 170px;
    }
    .medicine-img-h{
        height: 150px;
    }
    .w-lg-80{
        width: 100%;
    }
}
@media(max-width: 420px){
    .medicine-img-h{
        height: 150px;
    }
}