:root{
    --color-blue: #c3e3f8;
    --color-red: #FF2E17;
}


body{
    font-family: 'Effra Trial', sans-serif;
}
.dropdown-toggle::after{
    display: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.fs-section-title{
    font-size: clamp(1.375rem, 1.15rem + 1.125vw, 2.5rem);
}
.fs-paragraph{
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
}
.fs-paragraph-2{
    font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
}
.fs-button{
    font-size: 40px;
}
.text-red{
    color: var(--color-red)
}
.bg-red{
    background: var(--color-red);
}


.modal-link{
    font-size: 16px;
    background: none;
    border: none;
    color: var(--color-red);
    text-decoration: underline;
    font-weight: 600;
    padding-left: 0;

}
.slick-dots{
    bottom: -40px;
}
.slick-dots li button:before{
    font-size: 16px;
}
.icon-img{
    width: 100px;
    height: 100px;
}
.medicine-img-h{
    height: 216px;
}
.w-lg-80{
    width: 80%;
}
@media(max-width: 768px){
    .logo{
        width: 170px;
    }
    .medicine-img-h{
        height: 150px;
    }
    .w-lg-80{
        width: 100%;
    }
}
@media(max-width: 420px){
    .medicine-img-h{
        height: 150px;
    }
}